<!DOCTYPE html> 
<html>
<head>
  <title>Testproy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--<link rel="stylesheet" type="text/css" href="../../assets/javascripts/bootstrap/css/bootstrap-responsive.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/javascripts/bootstrap/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/javascripts/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/javascripts/bootstrap/css/bootstrap.min.css" />-->
</head>
<body>
	<div class="div-center">
		<%= yield %>
	</div>
</body>
</html>
